@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:wght@400;700&display=swap');

.dropdown {
    box-sizing: border-box;
    margin: auto;
    width: 65%;
    min-width: 350px;
    min-height: 40px;
    margin-top: 30px;
    border-radius: 10px;

    #content-show {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        border-radius: 5px;
        padding: 10px;
        z-index: 2;
        position: relative;

        h2 {
            width: fit-content;
            height: fit-content;
            margin: 0px;
            color: white;
            font-family: "Montserrat";
            font-weight: 300;
        }

        span {
            width: fit-content;
            height: fit-content;
            cursor: pointer;
            color: white;
            font-size: 32px;

            .to-top {
                transform: rotate(0deg);
                transition: transform 0.5s ease;
            }

            .to-bottom {
                transform: rotate(180deg);
                transition: transform 0.5s ease;

            }
        }
    }

    #content-hidden {
        overflow: hidden;
        transform: translate(0px, -5px);
        z-index: 1;
        font-size: 18px;
        font-family: "Montserrat";
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: rgba(246, 246, 246, 1);

        &.ofshow {
            color: #FF6060;
            max-height: 0;
            transition: max-height 0.5s ease-out;
        }

        &.show {
            max-height: 200px;
            transition: max-height 0.5s ease-in;
            color: #FF6060;
        }

        p {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 768px) {

    .dropdown {
        width: 90%;

  

    

                #content-show {

                    h2 {
                        font-size: 13px;
                        font-weight: 400;
                    }

                    span {
                        font-size: 13px;
                    }
                }

                #content-hidden {

                    p {
                        font-size: 13px;
                    }
                }
            }
        }