.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99vh;
    gap: 30px;

    .main {
        height: fit-content;
        display: flex;
        flex-direction: column;
         justify-content: flex-start;
         gap: 30px;
    }
}

@media (max-width: 768px) {
    .home-page {
        gap: 20px;

        .main {
            gap: 20px;
        }
    }
}